<html>

<body>

<h1>Author</h1>

<form action="{{ path('_cookbook_form_create_custom_field_type') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <input type="submit"/>
    </p>
</form>

</body>

</html>
